.wrapper {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}

.alert {
    // height: 50px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    left: 45%;
    top: 2%;
    background-color: rgba(255, 253, 255, );
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgb(196, 194, 194);

    >.wrap {
        >.content {
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;

            >.yes {
                margin-right: 20px;
                padding: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                font-size: 14px;
                border-radius: 10px;
                background: rgb(31, 109, 67);
                color: rgb(223, 217, 217);
            }
        }


    }
}