.Library {
    display: flex;
    justify-content: space-between;

    >.wrapper {
        font-size: 14px;
        padding: 10px;
        margin-left: 20px;

        >.wrap {
            display: flex;
            margin-top: 60px;
            width: 220px;
            padding: 5px;
            border-radius: 10px;
            box-shadow: 1px 2px 4px 2px rgb(196, 194, 194);
            margin-bottom: 10px;
            align-items: center;
            background-color: rgba(226, 223, 223, 0.5);

            >.select {
                background-color: rgba(235, 231, 231, 0.5);
                width: 150px;
                border: none;
                color: black;
                padding: 5px;
                margin-right: 10px;
                height: 30px;
            }

            >.opera {
                display: flex;

                >.delete,
                .update {
                    display: flex;

                    >svg {
                        width: 24px;
                        height: 24px;
                        margin-left: 5px;
                    }
                }

                >.delete {
                    >svg {
                        fill: rgb(224, 65, 17);
                    }
                }
            }
        }

        >.newNotebook,
        .newNote {
            display: flex;
            border-radius: 10px;
            box-shadow: 1px 2px 4px 2px rgb(196, 194, 194);
            padding: 5px;
            margin-bottom: 10px;

            >input {
                width: 150px;
                margin-right: 5px;
                border: none;
                background: #f3f3f3;
            }

            >.yes,
            .no {
                padding: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                font-size: 14px;
                white-space: nowrap;
                border-radius: 10px;
                box-shadow: 1px 1px 1px 1px rgb(201, 199, 199);
            }

            >.yes {
                background: rgb(59, 85, 71);
                color: rgb(223, 217, 217);
                margin-right: 5px;
            }

            >input::-webkit-input-placeholder {
                padding-left: 10px;
            }
        }

        >.title {
            display: flex;
            flex-direction: column;
            width: 230px;

            >.notes {
                padding: 10px;
                display: flex;
                margin-bottom: 10px;
                justify-content: space-between;
                margin-right: 5px;
                border-radius: 10px;
                box-shadow: 1px 2px 4px 2px #e4e3e3;
                align-items: center;

                &.selectNote {
                    background-color: rgba(196, 193, 193, 0.5);
                    box-shadow: 1px 2px 4px 2px rgb(196, 194, 194);
                }

                >.content {
                    flex-grow: 1;
                }

                >.update {
                    color: rgb(224, 65, 17);
                    white-space: nowrap;
                }
            }

            >.notes:hover {
                box-shadow: 1px 2px 4px 2px rgb(196, 194, 194);
            }
        }
    }

    >main {
        overflow: hidden;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 750px;

        .student {
            display: flex;
            margin-top: 150px;
            align-items: center;
            justify-content: center;

            >svg {
                width: 290px;
                height: 200px;
            }
        }

        header {
            display: flex;
            max-width: 1200px;
            min-width: 750px;
            justify-content: space-between;
            border-bottom: 1px solid black;
            padding: 0px;
            margin-top: 30px;
            padding: 10px;

            .control {
                display: flex;

                >a {
                    >.edit {
                        margin-right: 20px;

                        >svg {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }


                >.delete {
                    color: rgb(224, 65, 17);

                    >svg {
                        width: 24px;
                        height: 24px;
                        fill: rgb(224, 65, 17);
                    }
                }
            }
        }

        >div {
            max-width: 1200px;
            min-width: 750px;
            padding: 30px;
        }
    }

    >.user {
        min-width: 250px;
        padding-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }
}