.Library {
    display: flex;
    justify-content: space-between;
    height: 100vh;

    >.wrapper {
        font-size: 14px;
        padding: 10px;
        margin-left: 20px;

        >.wrap {
            display: flex;
            margin-top: 60px;
            width: 220px;
            padding: 5px;
            border-radius: 10px;
            box-shadow: 1px 2px 4px 2px rgb(196, 194, 194);
            margin-bottom: 10px;
            align-items: center;
            background-color: rgba(226, 223, 223, 0.5);

            >.select {
                background-color: rgba(235, 231, 231, 0.5);
                width: 150px;
                border: none;
                color: black;
                padding: 5px;
                margin-right: 10px;
                height: 30px;
            }

            >.opera {
                display: flex;

                >.delete,
                .update {
                    display: flex;

                    >svg {
                        width: 24px;
                        height: 24px;
                        margin-left: 5px;
                    }
                }

                >.delete {
                    >svg {
                        fill: rgb(224, 65, 17);
                    }
                }
            }
        }

        >.newNotebook,
        .newNote {
            display: flex;
            border-radius: 10px;
            box-shadow: 1px 2px 4px 2px rgb(196, 194, 194);
            padding: 5px;
            margin-bottom: 10px;

            >input {
                width: 150px;
                margin-right: 5px;
                border: none;
                background: #f3f3f3;
            }

            >.yes,
            .no {
                padding: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                font-size: 14px;
                white-space: nowrap;
                border-radius: 10px;
                box-shadow: 1px 1px 1px 1px rgb(201, 199, 199);
            }

            >.yes {
                background: rgb(59, 85, 71);
                color: rgb(223, 217, 217);
                margin-right: 5px;
            }

            >input::-webkit-input-placeholder {
                padding-left: 10px;
            }
        }

        >.title {
            display: flex;
            flex-direction: column;
            width: 230px;

            >.notes {
                padding: 10px;
                display: flex;
                margin-bottom: 10px;
                justify-content: space-between;
                margin-right: 5px;
                border-radius: 10px;
                box-shadow: 1px 2px 4px 2px #e4e3e3;
                align-items: center;

                &.selectNote {
                    background-color: rgba(196, 193, 193, 0.5);
                    box-shadow: 1px 2px 4px 2px rgb(196, 194, 194);
                }

                >.content {
                    flex-grow: 1;
                }

                >.update {
                    color: rgb(224, 65, 17);
                    white-space: nowrap;
                }
            }

            >.notes:hover {
                box-shadow: 1px 2px 4px 2px rgb(196, 194, 194);
            }
        }
    }

    >main {
        overflow: hidden;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 850px;
        min-width: 850px;
        height: 100vh;

        .student {
            display: flex;
            margin-top: 250px;
            align-items: center;
            justify-content: center;

            >svg {
                width: 290px;
                height: 200px;
            }
        }

        header {
            display: flex;
            width: 820px;
            justify-content: space-between;
            padding: 0px;
            margin-top: 30px;
            padding: 10px;
            height: 200px;

            .control {
                display: flex;

                >.edit {
                    margin-right: 20px;

                    >svg {
                        width: 24px;
                        height: 24px;
                    }
                }

                >.delete {
                    color: rgb(224, 65, 17);

                    >svg {
                        width: 24px;
                        height: 24px;
                        fill: rgb(224, 65, 17);
                    }
                }
            }
        }

        div {
            >.isMarkdown {
                width: 800px;
                height: 96vh;
                overflow: auto;
                line-height: 1.5em;
                padding: 50px;
                border: 1px solid rgb(189, 185, 185);
                border-bottom: none;
                background: #f3f3f3;
            }
        }
    }

    >.user {
        padding-top: 20px;
        margin-right: 20px;
        margin-left: 20px;

        >.NewNote {
            .wrapper {
                display: flex;
                font-size: 16px;
                max-width: 250px;
                border-radius: 10px;
                box-shadow: 0px 2px 4px 0px rgb(196, 194, 194);
                margin-bottom: 30px;

                >.newNote,
                .newWord {
                    display: flex;
                    flex-direction: row;
                    font-size: 14px;
                    margin: 10px;
                    padding-bottom: 5px;
                    padding-top: 5px;

                    >svg {
                        width: 25px;
                        height: 25px;
                        margin: 5px;
                        fill: rgb(59, 85, 71);
                    }

                    >.txt {
                        margin-bottom: 5px;
                        margin-top: 10px;
                        margin-right: 5px;
                    }
                }
            }


        }
    }

    >.wrappers {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        >.prompt {
            width: 500px;
            height: 110px;
            padding: 10px;
            position: fixed;
            left: 40%;
            top: 40%;
            background: white;
            border-radius: 10px;
            box-shadow: 0px 4px 4px 0px rgb(196, 194, 194);

            .wraps {
                >.content {
                    padding: 10px;
                    margin-left: 20px;
                    border: none;
                    width: 400px;
                }

                >.content {
                    padding-left: 10px;
                }

                >.echo {
                    display: flex;
                    justify-content: right;
                    margin-top: 15px;

                    >.select {
                        border-radius: 10px;
                        box-shadow: 1px 1px 1px 1px rgb(201, 199, 199);
                        width: 120px;
                        border: none;
                        font-size: 14px;
                        background: rgb(59, 85, 71);
                        color: rgb(223, 217, 217);
                        padding: 5px;

                        >option {
                            background: rgb(223, 217, 217);
                            color: black;
                        }
                    }

                    >.yes,
                    .no {
                        margin-right: 10px;
                        padding: 10px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        font-size: 14px;
                        border-radius: 10px;
                        box-shadow: 1px 1px 2px 2px rgb(201, 199, 199);
                    }

                    >.yes {
                        background: rgb(59, 85, 71);
                        color: rgb(223, 217, 217);
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}